player-connection-mode=Listen
player-connection-guid=99987525
player-connection-debug=0
player-connection-project-name=Squid
player-connection-ip=10.146.40.104
player-connection-ip=172.16.3.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
